bcrypt==3.1.7
Fabric3==1.14.post1
Flask==2.0.3
flask-babel==3.0.1
Flask-Cors==3.0.8
mysql-connector-python==8.0.32
mysql-connector-python-rf==2.2.2
pep8==1.7.1
pycodestyle==2.6.0
requests==2.28.2
SQLAlchemy==1.4.41
urllib3==1.22
virtualenv==20.16.5
python==3.8.0
